/* * {
    box-sizing: border-box;
} */

.hangman-box {
    display: flex;
    flex-direction: row;
    height: 900px;
}

.sidebar-box {
    position: relative;
    margin-top: 60px;
    height: 900px;
}

h1 {
    margin: 20px 0 0;
}

.hangman-container {
    /* padding: 20px 30px; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.figure-container {
    margin-left: 260px;
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}


/* .figure-part {
    display: none;
} */

.wrong-letters-container {
    /* position: relative; */
    margin-left: 260px;
    /* right: 20px; */
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span {
    font-size: 24px;
}

.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2980b9;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: #fff;
    color: #2980b9;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: fixed;
    /* left: 550px; */
    bottom: -250px;
    transition: transform 0.3s ease-in-out;
}


/* 
.notification-container p {
    margin: 0;
} */

.notification-container.show {
    transform: translateY(-50px);
}