@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.chrome {
    /* background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%,rgb(189, 223, 219) 58%, rgb(63, 204, 188)90%, rgb(15, 83, 75) 100%); */
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    line-height: 1;
}

.hangman-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Press Start 2P';
    transform: skewY(-7deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    transition: all 0.2s ease;
    color: rgb(95, 194, 184);
    text-shadow: -1px -1px 0 rgb(189, 223, 219), -2px -2px 0 rgb(189, 223, 219), -3px -3px 0 rgb(189, 223, 219), -4px -4px 0 rgb(189, 223, 219), -5px -5px 0 rgb(189, 223, 219), -6px -6px 0 rgb(189, 223, 219), -7px -7px 0 rgb(189, 223, 219), -8px -8px 0 rgb(189, 223, 219), -30px 20px 40px dimgrey
}

.hangman-title:hover {
    transform: skewY(0deg) skewX(7deg) scale(1.1);
}