@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.nft-title {
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 60px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: rgb(95, 194, 184);
  text-shadow: 
    -1px -1px 0 rgb(189, 223, 219),
    -2px -2px 0 rgb(189, 223, 219),
    -3px -3px 0 rgb(189, 223, 219),
    -4px -4px 0 rgb(189, 223, 219),
    -5px -5px 0 rgb(189, 223, 219),
    -6px -6px 0 rgb(189, 223, 219),
    -7px -7px 0 rgb(189, 223, 219),
    -8px -8px 0 rgb(189, 223, 219),
    -30px 20px 40px dimgrey
}

