@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.zimFont {
    font-family: 'Press Start 2P';
    font-weight: 900;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    margin: 0.5rem;
    color: hsl(51, 99%, 50%);
}

.home-hero {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -60px;
    height: 100vh;
    z-index: -1;
}

.hero__bg {
    position: relative;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    /* margin-top: -60px; */
    height: 100vh;
}

.hero__bg__video {
    width: 100%;
    height: 100%;
    background: #232a34;
    object-fit: cover;
    -o-object-fit: cover;
    z-index: -1;
}

.fade-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: hsla(0, 0%, 0%, 0.75);
    z-index: 0;
}

.center-stuff {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-60%) translateX(-50%);
}

#canvas {
    padding-top: 70px;
}